:root {
  --beige: #fffcf2;
  --beige-trans: #fffcf2c2;
  --dark-beige: #ccc5b9;
  --gray: #403d39;
  --almost-black: #252422;
  --orange: #eb5e28;
  --light-orange: #eb8259;

  /* page */
  --background-color: var(--beige);
  --scrollbar: var(--almost-black);
  --selection: var(--gray);
  /* generic */
  --text: var(--almost-black);
  --title: var(--gray);
  --link: var(--orange);
  --highlight: var(--orange);
  --highlight-low: var(--light-orange);
  --bg: var(--beige);
  --bg-trans: var(--beige-trans);
  --image-border: var(--almost-black);
  --focus: var(--almost-black);
  /* nav */
  --nav-link: var(--gray);
  --nav-index: var(--almost-black);
  --nav-burger: var(--almost-black);
  /* project */
  --project-image-overlay-sm: var(--beige);
  --project-description-subtitle-hover: var(--almost-black);
  --project-description-iconlink: var(--gray);
  --project-description-iconlink-hover: var(--almost-black);
  /* socialIcons */
  --item-color: var(--gray);
}

.theme-dark {
}

::-moz-selection {
  color: white;
  background: var(--selection);
}

::selection {
  color: white;
  background: var(--selection);
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--background-color);
  counter-reset: title;
}

main {
  transition: 0.3s ease-in-out;
}

.blur {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) var(--background-color);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border: 3px solid var(--background-color);
  border-radius: 10px;
}
